## inputs and outputs
input/*
enerGyPU/testbed/*

## Keras
Keras/__pycache__/
Keras/h-workers
Keras/model.h5
Keras/output/*

## tensorflow 
tensorflow/checkpoint
tensorflow/model.ckpt.*

## diagnosenet
diagnosenet/checkpoint
diagnosenet/model.ckpt.*
diagnosenet/__pycache__/
diagnosenet/*.swp
